<h1>Listing question_answering_alternatives</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_answering_alternatives.each do |question_answering_alternative| %>
  <tr>
    <td><%= question_answering_alternative.content %></td>
    <td><%= question_answering_alternative.question_id %></td>
    <td><%= link_to 'Show', question_answering_alternative %></td>
    <td><%= link_to 'Edit', edit_question_answering_alternative_path(question_answering_alternative) %></td>
    <td><%= link_to 'Destroy', question_answering_alternative, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question answering alternative', new_question_answering_alternative_path %>
