<%= form_for @survey, :html => { :class => "survey" } do |f| %>

  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :heading %><br />
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :send_date %><br />
    <%= f.datetime_select :send_date %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>
	
	<h2>Fr&aring;gor</h2>

	<% f.fields_for :questions do |question_form| %>
		<%= render :partial => "questions/question_form", :locals => { :question_form => question_form } %>
	<% end %>
	
	<p id="add_question">Lägg till fråga</p>
	
	<script type="text/javascript" charset="utf-8">
		$("#add_question").click(function(){
			$this = $(this);
			var addButton = $("#addQuestion");
			$("<div />").addClass("question").load("/questions/new/ #fields", function() {
				$this.before($(this));
			});
		})
	</script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
