<% content_for :title, "Utvarderingar" %>

<ul class="surveys">
  <li>
    <h2>Utkast</h2>
    <ul class="drafts">
      <% @surveys_drafts.each do |survey| %>
        <li>
          <%= link_to survey.heading, survey %>
        </li>
      <% end %>
      <% if @surveys_drafts.empty? %>
        <li>Inga utvarderingar</li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2>Utgående</h2>
    <ul class="scheduled">
      <% @surveys_scheduled.each do |survey| %>
        <li>
          <%= link_to survey.heading, survey %>
          Skickas: <%= survey.send_date %> 
        </li>
      <% end %>
      <% if @surveys_scheduled.empty? %>
        <li>Inga utvarderingar</li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2>Pågående</h2>
    <ul class="active">
      <% @surveys_active.each do |survey| %>
        <li>
          <%= link_to survey.heading, survey %>
          Avslutas: <%= survey.deadline %> 
        </li>
      <% end %>
      <% if @surveys_active.empty? %>
        <li>Inga utvarderingar</li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2>Avslutade</h2>
    <ul class="clsed">
      <% @surveys_closed.each do |survey| %>
        <li>
          <%= link_to survey.heading, survey %>
        </li>
      <% end %>
      <% if @surveys_closed.empty? %>
        <li>Inga utvarderingar</li>
      <% end %>
    </ul>
  </li>
</ul>
