<% content_for :title, "Frågor för @survey.heading" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Heading:</b>
  <%= @survey.heading %>
</p>

<p>
  <b>Send date:</b>
  <%= @survey.send_date %>
</p>

<p>
  <b>Deadline:</b>
  <%= @survey.deadline %>
</p>

<div class="questions">
	<h2>Frågor</h2>
	<% @survey.questions.each do |question| %>
		<%= render :partial => "questions/" + question.answer_type + "_form", :locals => { :question => question } %>
	<% end %>
</div>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
