<% content_for :title, "Frågor för @survey.heading" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Heading:</b>
  <%= @survey.heading %>
</p>

<p>
  <b>Send date:</b>
  <%= @survey.send_date %>
</p>

<p>
  <b>Deadline:</b>
  <%= @survey.deadline %>
</p>

<form method="post">
  <ul class="questions">
    <% @survey.questions.each do |question| %>
      <li>
      <%= render :partial => "questions/" + question.answer_type + "_form", :locals => { :question => question } %>
      </li>
    <% end %>
  </ul>
</form>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
