<!DOCTYPE html>
<html>
<head>
  <title>Initech</title>
  <title><%=h yield(:title)%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <a href="/">
      <img src="/images/logo.png" id="logo" alt="Is this good for the company?" />
    </a>
    <h1><%=h yield(:title)%></h1>
  </header>
  <% if admin_signed_in? %>
    <ul id="mainmenu">
      <li class="selected">
        <a href="#">Utv&auml;rderingar</a>
        <ul id="submenu">
          <li class="list_surveys">
            <%= link_to 'Lista', @survey %> 
          </li> 
          <li class="new_survey">
            <%= link_to 'Skapa ny', new_survey_path %> 
          </li> 
        </ul>
      </li>
      <li>
        <%= link_to "Logga ut", destroy_admin_session_path%>
      </li>
      <li>
        <a href="#">Inst&auml;llningar</a>
      </li>
    </ul>
  <% end %>
  <% if notice != nil %>
    <p class='notice'><%= notice %></p>
  <% end %>
  <% if alert != nil %>
    <p class='alert'><%= alert %></p> 
  <% end %>
  <article>
    <%= yield %>
  </article>
</body>
</html>
